Options -Indexes -MultiViews

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php [L]

    RewriteCond %{HTTP_USER_AGENT} !^Mozilla/[0-9.]+
    RewriteRule .* - [F]
</IfModule>
