/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix fenc=utf8 nobomb: */
/**
 * iCurl Style
 *
 * @author mingcheng<i.feelinglucky@gmail.com>
 * @date   2009-09-22
 * @link   http://www.gracecode.com/
 */

body {
    font-size: 14px;
}

input {
    border: 1px solid #999;
    background: url(images/textfield.gif) repeat-x top left;
    padding: 1px 2px;
}

input[type=text] {
    width: 150px;
}

input.error {
    border-color: #ffcc00;
}

li input {
    margin: 0px 5px 0px 0px;
}

input#q {
    width: 300px;
}

input#ag, input#ref {
    width: 250px;
}

input#c, input#p {
    width: 2em;
    text-align: center;
}

input#c {
    width: 5em;
}

input.button {
    margin: 5px 0px 0px 0px;
}

input:focus {
    border-color: #333;
}

legend {
    font-size: 16px;
    font-weight: 700; 
    padding: 0px 10px;
}

fieldset {
    border: 1px solid #999;
    padding: 10px;
}

p, li {
    margin: 5px 0px;
}

.button, button {
    border: 1px solid #000;
    background: none;
    color: #000;
    width: auto;
}

li .button, li button {
    border-color: #555;
    color: #555;
}

label {
    -moz-user-select: none;
}

li label, label[for=ag], label[for=ref] {
    display: inline-block;
    width: 90px;
    text-align: right;
}


body #page {
    width: 550px;
    margin: 50px auto;
}

/*
#show_extra {
    text-indent: 1em;
}

#auth {
    padding-left: 155px;
}
*/

#extra {
    overflow: hidden;
}

#result {
    border: 1px solid #999;
    background: #eaeaea;
    padding: 5px;
    width: 515px;
    height: 500px;
    word-wrap: break-word;
    white-space: pre;
    overflow: auto;
}

.ajax-loading {
    background: url(images/indicator.gif) no-repeat center center!important;
}

.hidden {
    display: none;
}

.ver {
    color: #999;
    font-size: 10px;
}
