/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix fenc=utf8 nobomb: */
/**
 * iCurl Style
 *
 * @author mingcheng<i.feelinglucky@gmail.com>
 * @date   2009-09-22
 * @link   http://www.gracecode.com/
 */

body {
    font-size: 14px;
    font-family:"Lucida Grande",Helvetica,Arial,sans-serif;
}

input {
    border: 1px solid #999;
    background: #fff url(images/textfield.gif) repeat-x top left;
    padding: 2px 3px;
}

input[type=text] {
    width: 150px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

input.error {
    border-color: #ffcc00;
}

li input {
    margin: 0px 5px 0px 0px;
}

input#q {
    width: 300px;
}

input#ag, input#ref {
    width: 250px;
}

input#c, input#p {
    width: 2em;
    text-align: center;
}

input#c {
    width: 5em;
}

input.button {
    margin: 5px 0px 0px 0px;
}

input:focus {
    border-color: #333;
}

legend {
    font-size: 16px;
    font-weight: 700; 
    padding: 0px 10px;
}

fieldset {
    border: 1px solid #999;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff url('images/bg.png') no-repeat scroll bottom center;
}

p, li {
    margin: 5px 0px;
}

p > span {
    margin: 0 5px;
}

.button, button {
    background: none;
    color: #000;
    width: auto;
    cursor: pointer;
    border: 1px solid #999;
    background-color: #eaeaea;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

li .button, li button {

}

label {
    -moz-user-select: none;
}

label[for=q] {
    display: none;
}

label.q {
    display: none;
}

p.q {
    text-align: center;
    font-size: 16px;
    background: #eaeaea;
    padding: 1em 2em;
    margin: 0 0 .8em 0; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

li label, label[for=ag], label[for=ref] {
    display: inline-block;
    width: 90px;
    text-align: right;
}


body #page {
    width: 550px;
    margin: 50px auto;
}

#show_extra {
    margin: 1em 0 .5em 0;
}

#show_extra:hover {

}

/*
#auth {
    padding-left: 155px;
}
*/

#extra {
    overflow: hidden;
}

#result {
    border: 1px solid #999;
    background: #eaeaea;
    padding: 5px;
    width: 515px;
    height: 500px;
    word-wrap: break-word;
    white-space: pre;
    overflow: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.ajax-loading {
    background: url(images/indicator.gif) no-repeat center center!important;
}

.hidden {
    display: none;
}

.ver {
    color: #999;
    font-size: 9px;
}

.recommend {
    background: yellow;
    border: 2px solid red;
    color: red;
    text-align: center;
    padding: 5px 10px;
    margin: 1em 0 1em 0;
}
